        /* scrollbar adjustments */
        ::-webkit-scrollbar {
            width: 0.2rem;
        }

        ::-webkit-scrollbar-track {
            background: transparent;
        }

        ::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        body {
            background-color: #262626;
            color: #fff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 46px;
            color: #39b54a;
            text-align: center;
            margin-top: 40px;
        }

        h4 {
            font-size: 18px;
            color: #fff;
            text-align: center;
            margin-top: 20px;
        }

        h5 {
            font-size: 15px;
            color: #f5f5f5;
            text-align: left;
            margin-top: 20px;
        }


        .custom-paragraph {
            color: #999;
            width: 95%;
            margin: 0 auto;
            padding: 10px;
        }

        a {
            color: #4CAF50;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        a:hover {
            color: #4CAF50;
            text-decoration: none;
            transition: text-shadow 0.3s ease-in-out;
            text-shadow: 0 0 2px #4CAF50;
        }

