    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        border: 1px solid #4CAF50;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #4CAF50;
    }

    th {
        background-color: #4CAF50;
        color: #fff;
    }

    tr:hover {
        background-color: #555;
    }

    .location-link {
        color: #4CAF50;
        text-decoration: underline;
        cursor: pointer;
    }

    /* Set the widths for the columns */
    .small-column {
        width: 15%;
        /* Adjust the width as needed */
    }

    .large-column {
        width: 70%;
        /* Adjust the width as needed */
    }
    
/* Add a media query for smaller screens */
@media (max-width: 768px) {
    table {
        width: 100%;
        overflow-x: auto; /* Enable horizontal scrolling */
    }

    /* Reset column widths for smaller screens */
    .small-column,
    .large-column {
        width: auto;
    }

    /* Allow line wrapping for the User Agent column */
    .large-column {
        white-space: normal; /* Allow text to wrap */
        word-wrap: break-word; /* Break long words to fit */
    }
}
