{% extends 'base.html' %}

{% block static_files%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <style>
    .email{
        color: #999;
        font-weight: normal;
    }
    .email:hover{
        color: #999;
        font-weight: normal;
        text-decoration: none;
        transition: text-shadow 0.3s ease-in-out;
        text-shadow: 0 0 2px #999;
    }

    </style>
{% endblock%}

{% block content %}
<h2>About Clickstat</h2>
<div class="custom-paragraph" id="about-clickstat">
        Clickstat is a URL shortener with IP and GPS logging. Unlike other IP loggers that provide inaccurate location data, Clickstat utilizes GPS for pinpoint accuracy. Shorten your links with "GPS Tracking" enabled and get GPS location of those who click it. it's a powerful tool that empowers you to shorten links, while also gaining insights into the individuals who interact with them. With Clickstat, you can access valuable information such as IP addresses, user agents, and, if enabled, precise GPS locations of your link's clickers. 
        Experience the best and most feature-packed URL shortener on the internet. Clickstat - The most feature-packed URL shortener.
        The best thing about clickstat is that it's opensource. Visit the github <a href="https://github.com/itsmmdoha/clickstat">repository</a>.
        <br><br>

        Contact us: <a class="email" href="mailto:contact@clickstat.xyz">contact@clickstat.xyz</a>
    </p>

    <h2>Meet the Developer</h2>
    <div class="developer-container">
        <div class="developer">
            <img src="{{ url_for('static', filename='itsmmdoha.jpeg') }}" alt="Photo of Monazir Muhammad Doha">
        </div>
        <div class="developer-description">
            <p>
            Hi,<br>My name is <b>Monazir Muhammad Doha</b>; I'm 19 years old. I'm on a mission to bring my ideas to life. I thrive on turning everyday challenges into opportunities to create innovative solutions
            </p>
            <a href="https://github.com/itsmmdoha">GitHub</a>
            <a href="https://youtube.com/@HoundSec">YouTube</a><br>
            <a href="https://fb.com/itsmmdoha">Facebook</a>
        </div>
    </div>
</div>
{% endblock %}
