<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    {% block title %} {% endblock %}
    {% block static_files %} {% endblock %}
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/stats">Stats</a>
        <a href="/about">About</a>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>
