<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clickstat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <h1>CLICKSTAT</h1>
    <h4>Enter a URL to shorten</h4>
    <form action="createlink" method="post">
        <input name="url" type="url" placeholder="Enter a URL">
        <br><br>
        <label for="enable">Enable GPS tracking</label>
        <input type="checkbox" id="enable" name="enable">
        <br><br>
        <input type="submit" value="shorten" id="submit_button">
    </form>
</body>
</html>
