{% extends 'base.html' %}

{% block title %}
<title>CLICKSTAT</title>
{% endblock%}

{% block static_files%}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock%}


{% block content%}
    <h1>CLICKSTAT</h1>
    <h4>Enter a URL to shorten</h4>
    <form action="createlink" method="post">
        <input name="url" type="url" placeholder="Enter a URL">
        <br><br>
        <label for="enable">Enable GPS tracking</label>
        <input type="checkbox" id="enable" name="enable">
        <br><br>
        <input type="submit" value="shorten" id="submit_button">
    </form>
{% endblock%}
