{% extends 'base.html'%}

{% block static_files%}
<style>
  table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
  }

  th,
  td {
    border: 1px solid #4CAF50;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #4CAF50;
  }
  @media (max-width: 768px) {
    table{
      width: 90%;
    }

</style>
{% endblock%}

{% block content %}
<h1>Information for "{{ip}}"</h1>
<table>
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in data.items() %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</body>
{% endblock %}
