{% extends 'base.html' %}

{% block static_files%}
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
{% endblock%}

{% block content %}
<h2>Showing stats for "{{identifier}}"</h2>
<div class="custom-paragraph">
<p>If you are on a mobile device, press and hold the GPS coordinates and open them in a new tab. If you click it and it opens the link with the google map app, the GPS pinpoint may not show up.</p>
</div>
<table>
    <thead>
        <tr>
            <th class="small-column">IP</th>
            <th class="small-column">Location</th>
            <th class="small-column">Timestamp</th>
            <th class="large-column">User Agent</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in data %}
        <tr>
            <td class="small-column">{{ entry['ip'] }}</td>
            <td class="small-column">
                <a class="location-link" target="_blank" rel="noopener noreferrer"
                    href="https://www.google.com/maps?q={{ entry['latitude'] }},{{ entry['longitude'] }}">
                    {{ entry['latitude'] }}, {{ entry['longitude'] }}
                </a>
            </td>
            <td class="small-column">{{ entry['timestamp'] }}</td>
            <td class="large-column">{{ entry['user_agent'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%}
