{% extends 'base.html' %}

{% block title %}
<title>stats</title>
{% endblock%}

{% block static_files%}
<link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
{% endblock%}

{% block content %}
<h1>Showing stats for "{{identifier}}"</h1>
<table>
    <thead>
        <tr>
            <th class="small-column">IP</th>
            <th class="small-column">Location</th>
            <th class="small-column">Timestamp</th>
            <th class="large-column">User Agent</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in data %}
        <tr>
            <td class="small-column">{{ entry['ip'] }}</td>
            <td class="small-column">
                <a class="location-link" target="_blank" rel="noopener noreferrer"
                    href="https://www.google.com/maps?q={{ entry['latitude'] }},{{ entry['longitude'] }}">
                    {{ entry['latitude'] }}, {{ entry['longitude'] }}
                </a>
            </td>
            <td class="small-column">{{ entry['timestamp'] }}</td>
            <td class="large-column">{{ entry['user_agent'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%}
