{% extends 'base.html' %}

{% block static_files%}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock%}


{% block content%}
    <h4>Please enter a URL to view the stats</h4>
    <div class="custom-paragraph">
      The six character long text after the slash at the end of your short url is called the <b>identifier</b>.
      It lets you access details about the individuals who click the link, such as their IP address, their user agent and their exact location if you enabled <b>GPS Tracking</b>.
    </div>
    <form action="stats" method="post">
        <input name="identifier" type="text" placeholder="Enter an identifier or a short URL">
        <br><br>
        <input type="submit" value="View" id="submit_button">
    </form>
{% endblock%}
